<div id="paymentView">
    <div class="container">
        <div class="centered title"><h1>Оплата</h1></div>
    </div>
    <hr class="featurette-divider" />
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <div class="tab-content">
                    <div id="stripe" class="tab-pane fade in active">
                        <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="money-payment-form" method="post">
                            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                            <br>
                            <div class='form-row'>
                                <div class='form-group card required'>
                                    <label class='control-label'>Номер картки</label>
                                    <input data-bind="masked: cardNumber, mask: '9999 9999 9999 9999'" autocomplete='off' class='form-control card-number' placeholder="1234 5678 9012 3456" type='text'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='form-group cvc required'>
                                    <label class='control-label'>CVC</label>
                                    <input data-bind="masked: cardCvc, mask: '999'" autocomplete='off' class='form-control payment-field card-cvc' placeholder='XXXX' type='text'>
                                </div>
                                <div class='form-group expiration required'>
                                    <label class='control-label'>Місяць завершення</label>
                                    <input data-bind="masked: cardExpMonth, mask: '99'" class='form-control payment-field card-expiry-month' placeholder='MM' size='2' type='text'>
                                </div>
                                <div class='form-group expiration required'>
                                    <label class='control-label'>Рік завершення</label>
                                    <input data-bind="masked: cardExpYear, mask: '99'" class='form-control payment-field card-expiry-year' placeholder='YYYY' size='4' type='text'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='form-group'>
                                    <label class='control-label'></label>
                                    <button data-bind='click: submitMoneyPayment' class='form-control payment-field btn btn-primary' type='submit'> Продовжити →</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="paypal" class="tab-pane fade">
                        <form action="?" id="paypalForm" method="POST">
                            <br>
                            <div class='form-row'>
                                <div class='form-group'>
                                    <label class='control-label'>У вас бонусів :</label>
                                    <h4 style="display: inline; color:darkslateblue;" data-bind="text: bonusesHas">

                                    </h4>
                                </div>
                                <div class='form-group'>
                                    <label class='control-label'>До оплати бонусів :</label>
                                    <h4 style="display: inline; color:darkslateblue;" data-bind="text: bonusesToPay">

                                    </h4>
                                </div>
                            </div>
                            <br><br><br>
                            <button data-bind='click: submitBonusesPayment' class='form-control btn btn-primary submit-button' type='submit'> Продовжити →</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <label class='control-label'></label><!-- spacing -->
                <div class="alert alert-info">Будь ласка, виберіть спосіб оплати та натисніть "Продовжити". Після цього вам буде запропоновано сплатити за допомогою вибраного варіанту оплати.</div>
                <br>
                <div class="btn-group-vertical btn-block">
                    <a class="btn btn-default" style="text-align: left;" data-toggle="tab" href="#stripe">Дебетова / Кредитна картка</a>
                    <a class="btn btn-default" style="text-align: left;" data-toggle="tab" href="#paypal">Бонуси</a>
                </div>
                <br><br><br>
                <div class="jumbotron jumbotron-flat">
                    <div class="center">
                        <h2 style="display: inline;"><i>Сума: </i></h2>
                        <h2 style="display: inline;" data-bind="text: moneyToPay"></h2>
                    </div>
                    <div class="center">
                        <h2 style="display: inline;"><i>Бонусів: </i></h2>
                        <h2 style="display: inline;" data-bind="text: bonusesToPay"></h2>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
</div>