<div id="paymentSuccessfulView">
    <div class="container">
        <div class="centered title"><h1>Оплата пройшла успішно !</h1></div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

    #paymentSuccessfulView .jumbotron-flat {
        background-color: #4DB8FF;
        height: 100%;
        border: 1px solid #4DB8FF;
        background: white;
        width: 100%;
        text-align: center;
        overflow: auto;
    }

    #paymentSuccessfulView .paymentAmt {
        font-size: 80px;
    }

    #paymentSuccessfulView .centered {
        text-align: center;
    }

    #paymentSuccessfulView .title {
        padding-top: 15px;
    }

        #paymentSuccessfulView .title h1 {
            paymentSuccessfulView: auto;
        }

    #paymentSuccessfulView input, #paymentSuccessfulView select, #paymentSuccessfulView textarea {
        max-width: 100%;
    }
</style>
