<div id="view" class="row">
    <div class="col-md-8" >
        <div id="calendar"></div>
        <div class="time">
            <ul class="hoursList">
                {{#each hours}}
                <li> {{this}}</li>
                {{/each}}
            </ul>
        </div>
       
    </div>

    <div class="col-md-4 ">
        <hr />
        <div class="panel panel-default" data-bind="if:  selected()">
            <div class="panel-heading">
                <h4 class="panel-title" data-bind="text: selected().Name"></h4>
            </div>
            <div class="panel-body">


                <p class="card-text">Ціна: <span data-bind="text: selected().Price"></span></p>
                <p class="card-text">Початок гот: <span data-bind="text: selected().StartStr"></span></p>
                <p class="card-text">Видача: <span data-bind="text: selected().EndStr"></span></p>
                <p class="card-text">
                    <b>Опис:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id nulla nec eros accumsan ornare sed a lorem. Ora feugiat velit a dignissim. Sed at pretium tortor. Fusce ultricies enim sed justo lacinia ultrices. In sed diam ex. Etiam suscipit lobortis nisl.
                </p>

            </div>
            <div class="panel-footer" data-bind="if:  selected().State() == 0">
                <button class="btn btn-success" data-bind="click: acceptSelected">Accept</button>
                <button class="btn btn-danger" data-bind="click: rejectSelected">Reject</button>
            </div>

        </div>
        <hr/>
        <h3> Нові замовлення</h3>
        <div data-bind="foreach: orders">
            <!-- ko if: State() == 0-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-bind="text: Name"></h4>
                </div>
                <div class="panel-body">


                    <p class="card-text">Ціна: <span data-bind="text: Price"></span></p>
                    <p class="card-text">Початок гот: <span data-bind="text: StartStr"></span></p>
                    <p class="card-text">Видача: <span data-bind="text: EndStr"></span></p>
                    

                </div>
                <div class="panel-footer">
                    <button class="btn btn-success acceptOrd" data-bind="click: $parent.accept">Accept</button>
                    <button class="btn btn-danger rejectOrd" data-bind="click: $parent.reject">Reject</button>

                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
 </div>

